body {
    font-family: 'Scheherazade New';font-size: 22px;
    background-color: #EFE9E4;
}
/*
@media (min-width: 787px)
:root {
    --font-sm: 0.875em;
    --font-md: 1.124em;
    --font-x-md: 1.667em;
    --font-x-lg: 3.075em;
}


@media (min-width: 468px){

}
*/
/*barra de navegación*/
.barra_navegacion {
    display: flex;
    justify-content: flex-end;
    float: right;
    background-color: #9EA69B;
    color: white;
    height: 80px;             
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 100px;
    }

    
        nav ul li {
            display: inline-block;
            line-height: 80px;
            margin-left: 10px;
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
                color: #EFE9E4;
                margin-left: 0;
            }
.izquierda {
    margin-right: 1000px;
}

.volver_a_home {
    display: flex;
    justify-content: flex-start;
    float: left;  
}

