body {
    font-family: 'Scheherazade New';font-size: 22px;
    background-color: #D9D9D9;
}

/*barra de navegación*/
.barra_navegacion {
    float: right;
    background-color: #A9C6D9;
    background: #333;
    color: white;
    height: 80px;             
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-right: 100px;
    }
    
        nav ul li {
            display: inline-block;
            line-height: 80px;
        }
            
            nav ul li a {
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }
            
                nav ul li a:hover {
                    background: #0b76a6;
                }

  
.volver_a_home{
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
 }
.volver_a_home {
    color: #0b76a6;
 }
                    
.volver_a_home {
display: block;
font-weight: 700;
font-size: 1.2em;
}
                    
.volver_a_home {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
}
                
.barra_navegacion {
    background: #333;
    color: white;
    height: 80px;             
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */}
